.jumbotron2 {
  background-image: url("../images/slide/2.png");
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eeeeee;
  height: 500px;
  width: 100%;
}


.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0px;
  color: rgba(255,255,255,0.9);
  background-color: rgba(0,0,0,0.8);
  width: 100%;
}

.container2 {
padding-right: auto;
  padding-left: auto;
  margin-right: auto;
  margin-left: auto;	
}


@media (min-width: 1200px) {
  .container2 {
    width: 1170;
  }
}

@media (min-width: 1920px) {
  .container2 {
    width: 1800;
  }
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: right;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.navbar-default {
    background-color: rgba(0,0,0,0.7);
	border-color: rgba(0,0,0,0.7);
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #8fbd0d;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: black;
  background-color: #8fbd0d;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: black;
  background-color: #8fbd0d;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #8fbd0d;
    background-color: rgba(0,0,0,0.7);
  }
  
  
  
  
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: rgba(0,0,0,0.7);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: rgba(0,0,0,0.7);
    background-color: transparent;
  }
  
/*/ image grid /*/
